body{
    background: url(img/fon_01.jpg) no-repeat;
    background-size:cover;
	height: max-content;
	background-position: center;
    margin: 11px;
    font-style: italic;
    overflow: hidden;
}
.father-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.left_side-bar{ 
    width: 225px;
    display: inline-block;
    border: #333 1px solid;
    text-align: center;
    background-color: #e4e3e3;
    flex: auto;
}
.left_side-bar img{
    width: 100%;
}

.main_block{
    width: 75%; display: inline-block;
    flex: auto;
}
.fio{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 11px;
}
.main-nav{

}
.main-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-nav ul:first-child{
    border-top: #333 1px solid;
}
.main-nav ul li{
    border-bottom: #333 1px solid;
    
}
.main-nav ul li a:hover{
    background-color: #333;
    color: #a1a1a1;
}
.main-nav ul a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #292727;
    font-weight: 600;
    font-family: cursive;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.5s;
}
.main_block .main-text{
    padding: 5px;
    background: linear-gradient(-45deg, #6e635f, #f4f1f2, #eff0f0, #788582);
}
.main_block h1{
    margin-top: 0;
    margin-bottom: 5px;
    padding: 5px;
    background: linear-gradient(-45deg, #6e635f, #f4f1f2, #eff0f0, #788582);
}
.block_stack{
    display: flex;
    justify-content: space-between;
}
.block_stack p{
    max-width: 30%;
}
.block_stack p img{
    width: 100%;
}


footer{
    text-align: center;
    background-color: #e4e3e3;
    padding: 0.1rem;
    margin-top: 20px;
}